<h3>Welcome, <%= @current_user.email %>!</h3>
<br>
<h1>All Recipes</h1>
<br>
<br>

 <% Recipe.all.each do |recipe| %>
<ol>
  <br>
  <br>
  <a href <h5><%= recipe.title %></h5></a>
  
  <li> <%= recipe.content %></li>
  
  
</ol>
<% end %>

