<h3>Welcome, <%= @current_user.email %>!</h3>
<br>
<h1><a href="/recipes/new">Create a Recipe Here</a></h1>
<h3>or</h3>
<h1>Take A Look At These Recipes</h1>
<br>
<br>

 <% Recipe.all.each do |recipe| %>
<ul>
  <br>
  <br>
  <li><%= recipe.id %><a/></li>
  <a href <h5><%= recipe.title %></h5></a>
  <li> <%= recipe.content %></li>
</ul>
<% end %>

