<h3>Welcome, <%= @current_user.email %>!</h3>
<br>
<h1>All Recipes</h1>
<br>
<br>

 <% Recipe.all.each do |recipe| %>
<ol>
  <h6><%= recipe.title %></6>
  <a href <li> <%= recipe.content %></li></a>
  
  
</ol>
<% end %>

